<% if @user.errors.any? %>
  <div class="errors-list">
    <div class="white-text">
      This form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li class="white-text"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
